In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./archive/test_data.csv')

In [2]:
with open('./archive/test_data.csv', 'r') as f:
    for i in f:
        print(i)
        break

legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,elapsedDays,isBasicEconomy,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance,day_of_week,days_between_search_and_flight

In [5]:
df_direct = df[df["isNonStop"] == True]
print(df.columns)

Index(['legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'travelDuration', 'elapsedDays', 'isBasicEconomy',
       'isNonStop', 'baseFare', 'totalFare', 'seatsRemaining',
       'totalTravelDistance', 'day_of_week', 'days_between_search_and_flight'],
      dtype='object')

In [6]:
df_dropped = df_direct.drop(columns=["isNonStop", "legId", "isBasicEconomy"])
print(df.columns)

Index(['legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'travelDuration', 'elapsedDays', 'isBasicEconomy',
       'isNonStop', 'baseFare', 'totalFare', 'seatsRemaining',
       'totalTravelDistance', 'day_of_week', 'days_between_search_and_flight'],
      dtype='object')

In [8]:
def iterrate_merge(df):
    for i, row in df.iterrows():
        print(row.iloc[:])
        print(row[row.iloc[:]], str)
        print(row)
        break
        #strlist = row[row.columns]
        #print(strlist)

#iterrate_merge(df_dropped)

test = [i for index, row in df_dropped.head(10).iterrows() for i in row]
#test[0] == ";".join(test)
test1 = [test[i:i + 12] for i in range(0, len(test), 12)]
print(len(test1))
scrambled = []
with open("./archive/test_data_clean.txt", "w") as f:
    for i in test1:
        print(i)
        i = [str(element) for element in i]
        test5 = ",".join(i)
        f.write(test5 + "\n")
        
        print(test5)
        break

    #i.join()
    #scrambled.append(";".join(i.t))

#print(test1)

#test = df_dropped[for i in df_dropped.iloc[]:]

10
['2022-04-16', '2022-04-17', 'ATL', 'CLT', 'PT1H10M', 0, 357.21, 398.6, 6, 228.0, 'Sunday', 1]
2022-04-16,2022-04-17,ATL,CLT,PT1H10M,0,357.21,398.6,6,228.0,Sunday,1

In [15]:
df_filtered = df[df['startingAirport'] == 'ATL']
print(df['startingAirport'].unique())
print(df['destinationAirport'].unique())
print(df['days_between_search_and_flight'].unique())
test = df['baseFare'].unique()
len(test)
for i in range(1, 61):
    print(f"Days between search and flight: {i}, Count: {df_filtered[df_filtered['days_between_search_and_flight'] == i].shape[0]}")



print(len(df_filtered))
print(df_filtered)

['ATL' 'BOS' 'CLT' 'DEN' 'DFW' 'DTW' 'EWR' 'IAD' 'JFK' 'LAX' 'LGA' 'MIA'
 'OAK' 'ORD' 'PHL' 'SFO']
['BOS' 'CLT' 'DEN' 'DFW' 'DTW' 'EWR' 'IAD' 'JFK' 'LAX' 'LGA' 'MIA' 'OAK'
 'ORD' 'PHL' 'SFO' 'ATL']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60]
Days between search and flight: 1, Count: 23172
Days between search and flight: 2, Count: 23817
Days between search and flight: 3, Count: 23841
Days between search and flight: 4, Count: 23846
Days between search and flight: 5, Count: 22811
Days between search and flight: 6, Count: 21772
Days between search and flight: 7, Count: 21813
Days between search and flight: 8, Count: 22027
Days between search and flight: 9, Count: 22046
Days between search and flight: 10, Count: 22229
Days between search and flight: 11, Count: 22033
Days between search and flight: 12, Count: 22304
Days between search and flight: 13, Count: 20973
Days between search and flight: 14, Count: 20249
Days between search and flight: 15, Count: 20085
Days between search and flight: 16, Count: 20325
Days between search and flight: 17, Count: 20235
Days between search and flight: 18, Count: 19996
Days between search and flight: 19, Count: 19866
Days between search and flight: 20, Count: 19372
Days between search and flight: 21, Count: 19181
Days between search and flight: 22, Count: 19007
Days between search and flight: 23, Count: 19081
Days between search and flight: 24, Count: 18978
Days between search and flight: 25, Count: 18866
Days between search and flight: 26, Count: 18866
Days between search and flight: 27, Count: 18633
Days between search and flight: 28, Count: 18656
Days between search and flight: 29, Count: 18483
Days between search and flight: 30, Count: 18680
Days between search and flight: 31, Count: 18742
Days between search and flight: 32, Count: 18728
Days between search and flight: 33, Count: 18806
Days between search and flight: 34, Count: 18897
Days between search and flight: 35, Count: 18578
Days between search and flight: 36, Count: 18167
Days between search and flight: 37, Count: 18234
Days between search and flight: 38, Count: 17891
Days between search and flight: 39, Count: 17777
Days between search and flight: 40, Count: 17667
Days between search and flight: 41, Count: 17300
Days between search and flight: 42, Count: 17204
Days between search and flight: 43, Count: 17229
Days between search and flight: 44, Count: 16799
Days between search and flight: 45, Count: 16570
Days between search and flight: 46, Count: 16034
Days between search and flight: 47, Count: 15251
Days between search and flight: 48, Count: 14470
Days between search and flight: 49, Count: 13578
Days between search and flight: 50, Count: 12539
Days between search and flight: 51, Count: 12090
Days between search and flight: 52, Count: 11326
Days between search and flight: 53, Count: 11142
Days between search and flight: 54, Count: 10332
Days between search and flight: 55, Count: 9804
Days between search and flight: 56, Count: 9285
Days between search and flight: 57, Count: 8933
Days between search and flight: 58, Count: 8752
Days between search and flight: 59, Count: 8530
Days between search and flight: 60, Count: 8090
1059988
                                     legId  searchDate  flightDate  \
0         3904bf87f2d1daf334f1ae7e3b876028  2022-04-16  2022-04-17
1         e7c4054e85cca9bc7134b3cc93deaf7c  2022-04-16  2022-04-17
2         cb345693479e84838dfaac346b8e8d6a  2022-04-16  2022-04-17
3         eaf033a044596f0a76b132a490927524  2022-04-16  2022-04-17
4         676e25bb0ec021d335241354b668c674  2022-04-16  2022-04-17
...                                    ...         ...         ...
16449441  cc5ab7d9eb1bd7312bb73cf07dba1814  2022-10-05  2022-11-12
16449442  edab434e40f8f5e2f59c84068aea709c  2022-10-05  2022-11-12
16449443  198b9f2cf8bc5ec74ff2678989ed098f  2022-10-05  2022-11-12
16449444  85a9dafa4b185db66397b676fbd01077  2022-10-05  2022-11-12
16449445  30bd7f2f2fadc4af6ef9198866ecd620  2022-10-05  2022-11-12

         startingAirport destinationAirport travelDuration  elapsedDays  \
0                    ATL                BOS        PT5H18M            0
1                    ATL                BOS        PT5H59M            0
2                    ATL                BOS        PT5H39M            0
3                    ATL                BOS        PT4H17M            0
4                    ATL                BOS         PT6H2M            0
...                  ...                ...            ...          ...
16449441             ATL                SFO       PT11H22M            1
16449442             ATL                SFO        PT5H19M            0
16449443             ATL                SFO        PT5H29M            0
16449444             ATL                SFO        PT9H28M            0
16449445             ATL                SFO        PT8H53M            0

          isBasicEconomy  isNonStop  baseFare  totalFare  seatsRemaining  \
0                  False      False    213.02     251.10               3
1                  False      False    213.02     252.60               5
2                  False      False    183.00     290.58               0
3                  False      False    260.47     302.11               1
4                  False      False    260.47     302.11               1
...                  ...        ...       ...        ...             ...
16449441           False      False    215.81     255.60               7
16449442            True       True    282.79     318.60               9
16449443            True       True    282.79     318.60               9
16449444           False      False    435.34     491.59               7
16449445           False      False    459.54     517.61               9

          totalTravelDistance day_of_week  days_between_search_and_flight
0                       956.0      Sunday                               1
1                      1462.0      Sunday                               1
2                         NaN      Sunday                               1
3                       956.0      Sunday                               1
4                       956.0      Sunday                               1
...                       ...         ...                             ...
16449441               3338.0    Saturday                              38
16449442               2135.0    Saturday                              38
16449443               2135.0    Saturday                              38
16449444               2967.0    Saturday                              38
16449445               2282.0    Saturday                              38

[1059988 rows x 15 columns]